User Two has requested a payment on the Company 1 / Vendor 1 account in the amount of $1.00.

Reason:

Here you go.

Go to http://www.commissions.com/admin/payments/edit/1 to view/accept/reject the payment.
