Dear User Two,

Your payment of $1.00 to the Company 1 / Vendor 1 account made on 01/01/2007 has been rejected.

Reason:

Don't worry about this.

Go to http://test.host/companies/1/payments/new to request another payment.
